.lined {
    padding-left: 84px;
    transition: all 300ms ease-in-out;
}

.lined:hover {
    color: white;
}

.lined:before {
    position: absolute;
    height: 1px;
    width: 80px;
    content: " ";
    background: #dbb1a2;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all 300ms ease-in-out;
}

.lined:hover::before {
    background: white;
}