.lined {
    padding-left: 84px;
    transition: all 300ms ease-in-out;
}

.lined:hover {
    color: white;
}

.lined:before {
    position: absolute;
    height: 1px;
    width: 80px;
    content: " ";
    background: #10549f;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all 300ms ease-in-out;
}

.lined:hover::before {
    background: white;
}

.glass:hover {
    /* From https://css.glass */
    background: rgba(113, 90, 83, 0.56);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
}